pandas
numpy
scikit-learn
scipy
matplotlib
seaborn
joblib
imblearn
xgboost
catboost
plotly
notebook
ipykernel
markdown
pytest
awscli
boto3
mlflow
dagshub
python-dotenv
gdown
dvc
python-box==6.0.2
pyyaml
types-pyyaml
tqdm
ensure==1.0.2
Flask
Flask-Cors
pymongo
from_root
evidently
dill
neuro_mf
mypy-boto3-s3
botocore
fastapi
uvicorn
jinja2
python-multipart

-e .
